*.pdf
*.log
*.mst
*.mps
*.sol
*.script
man/*
src/2_parameter_selector/kkt-approach/output/*.pickle
src/3_process_results/output/tmp/*.pickle
src/2_parameter_selector/mppdc-approach/output/*.pickle
.idea/*
*.pyc
